/* body{
    background-color: rgb(108, 108, 101)
}

.container{
    display: flex;
    justify-content: space-around;
}

.content{
    padding: 20px;
    height: 80%;
    width: 700px;
    background-color: rgb(254, 254, 223);
    font-size: 18px;
    border-radius: 20px;
    margin: 0 0 auto;
    margin-top: 30px;
}

img{
    height: 40%;
    width: 40%;
    border-radius: 20px;
    margin: 0 0 auto;
    margin-top: 30px;
} */